{% extends 'base.html.twig' %}

{% block title %}Llave Maestra - Sobre{% endblock %}

{% block body %}
<h1>Sobre</h1>
<p>Llave maestra es una aplicación que permite gestionar credenciales para el inicio de sesión de los distintos sitios del usuario.</p>

<p>Es una apliación web desarrollada como proyecto final de la materia Seminario 2 para la carrera de Análisis de Sistemas del IFTS 16.</p>

<p>La aplicación permite, guardar credenciales para un sitio, editarlas, compartirlas con otros usuarios para gestionar cuentas compartidas dandole solo posibilidad de edición al usuario creador. También cuenta con un generador de contraseña aleatoria y segura.</p>

<p>La aplicación fue desarrollada en PHP bajo el framework de programación Symfony.</p>

<p>Autor: Matías Maglio <br> Profesor: Flavio Augusto Garrido Bonnin</p>

<h3>Enlaces de interés:</h3>
<ul>
    <li>
	<a href="https://github.com/MaglioM/LlaveMaestra" target="_blank">Github del repositorio</a>
    </li>
    <li>
	<a href="https://www.linkedin.com/in/matiasmaglio/" target="_blank">Mi Linkedin</a>
    </li>
{% endblock %}
