{% extends 'base.html.twig' %}

{% block title %}Llave Maestra - Editar sitio{% endblock %}

{% block body %}
    <h1>Editar sitio</h1>

    {{ include('site/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('site/_delete_form.html.twig') }}

    <a href="{{ path('site_index') }}">Volver a la lista</a>

{% endblock %}
