{% extends 'base.html.twig' %}

{% block title %}Llave Maestra - Crear sitio{% endblock %}

{% block body %}
    <h1>Crear nuevo sitio</h1>

    {{ include('site/_form.html.twig') }}

    <a href="{{ path('site_index') }}">back to list</a>
{% endblock %}
