{% extends 'base.html.twig' %}

{% block title %}Site index{% endblock %}

{% block body %}
    <h1>Sitios compartidos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ site.Name }}</td>
                <td>{{ site.Description }}</td>
                <td>
                    <a href="{{ path('site_show', {'id': site.id}) }}">Ver credenciales</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Todavía no tenés ningún sitio registrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('site_new') }}">Crear nuevo sitio</a>
{% endblock %}
